### Создаем мини-DataFrame руками

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([
                   ['Pooh',  2,True,   4],
                   ['Rabbit',3,False,  2],
                   ['Piglet',1,False,0.7],
                   ['Owl',   4,False,  5],
                   ['Eeyore',4,False,  5],
                   ['Tigger',1,False,4.5],
                  ], columns=['name','age','hungry','weight'])
df

     name  age  hungry  weight
0    Pooh    2    True     4.0
1  Rabbit    3   False     2.0
2  Piglet    1   False     0.7
3     Owl    4   False     5.0
4  Eeyore    4   False     5.0
5  Tigger    1   False     4.5

In [3]:
df.head()

     name  age  hungry  weight
0    Pooh    2    True     4.0
1  Rabbit    3   False     2.0
2  Piglet    1   False     0.7
3     Owl    4   False     5.0
4  Eeyore    4   False     5.0

### Описательные методы

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   hungry  6 non-null      bool
 3   weight  6 non-null      float64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 278.0+ bytes

In [ ]:
df.head()

In [5]:
df.describe()

            age    weight
count  6.000000  6.000000
mean   2.500000  3.533333
std    1.378405  1.779513
min    1.000000  0.700000
25%    1.250000  2.500000
50%    2.500000  4.250000
75%    3.750000  4.875000
max    4.000000  5.000000

In [ ]:
df.shape

In [ ]:
len(df)

### Индексация и Series

In [ ]:
# имена столбцов могут быть использованы в квадр скобках, как у словаря
df['weight']

In [ ]:
type(df['weight'])

In [ ]:
# Series немного похож на массив Numpy ndarray: если тип данных 
# числовой, можно использовать широковещательные операции NumPy
df['weight']**2

In [ ]:
np.sin(df['age'])

In [ ]:
# Можно использовать не только имя одного столбца, а список имен в качестве индекса
df[['name','hungry']]

In [ ]:
# квадратные скобки относятся к столбцам, а не к строкам
df[2]

In [ ]:
# слайсы в квадратных скобках относятся к строкам
df[2:5]

In [ ]:
# индекс по умолчанию, 0..stop-1
df.index

In [ ]:
# имена стобцов – тоже индекс
df.columns

In [ ]:
# не обязательно индексы подряд: возьмем часть в новый DataFrame:
df2 = df[df['weight']>=4]
df2

In [ ]:
# в слайсе указываются не значения индекса, а номера строк, как в массиве
df2[0:2]

In [ ]:
# можно установить столбец данных в качестве индекса
df2.set_index('name', inplace=True)
df2

In [ ]:
# у индекса может быть имя
df2.index

In [ ]:
# можно сбросить индекс, вернув его в обычные колонки и перенумеровав строки 0..N
df2.reset_index(inplace=True)
df2

In [ ]:
df2.set_index('name', inplace=True)
df2

In [ ]:
#loc - обращение по индексам
df2.loc['Owl']

In [ ]:
df2.loc[['Owl', 'Pooh']]

In [ ]:
# по диапазону
df2.loc['Owl':'Tigger']

In [ ]:
# по двум осям
df2.loc[['Owl', 'Pooh'], 'weight']